<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.acr.indexer</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/fischer/bin/acr</string>
        <string>--index-all</string>
    </array>

    <key>StartInterval</key>
    <integer>3600</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/fischer/.local/log/acr-indexer.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/fischer/.local/log/acr-indexer.error.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/fischer/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>HOME</key>
        <string>/Users/fischer</string>
    </dict>
</dict>
</plist>
